<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
        <bean id="eng" class="com.PetrolEngine" />
        <!-- <bean id="eng1" class="com.DieselEngine" primary="true" /> -->
<!--         <bean id="car" class="com.Car" autowire="byName"></bean> -->
		<!-- <bean id="car" class="com.Car" autowire="byType"></bean> -->
		<bean id="eng1" class="com.DieselEngine" />
		<bean id="car" class="com.Car" autowire="constructor" />
        
</beans>